@charset "ISO-8859-1";

.row-titile{
	background-color: lightgrey;
}

thead, .modal-header  {
	background-color: lightgrey;
}

.quantity {
	width: 30%;
}

.info {
	font-style: italic;
	font-weight: 600;
}

.emphasize{
	font-weight: bold;
}

.btn {
	margin: 0px 10px 0px 10px;
}

.error {
	color: red;
	margin: 0px;
}

.table-head {
	background-color: lightgrey;
	border-collapse: collapse;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #dee2e6;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.5;
	line-height: 1.5;
	margin: 10px 0px 10px 0px;
}

.itemRow {
	padding-top: 5px;
	padding-bottom: 5px;
}

.itemBlock {
	padding-top: 5px;
	padding-right: 5px;
	margin-left: 2px;
	margin-bottom: 5px;
	border-collapse: collapse;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #dee2e6;
}

.form-check {
	margin: 10px 0px;
}

.form-check-label {
	margin-right: 50px
}

.productImg {
	height: 100px;
	weight: 100px;
}

.productImgContainer {
	text-align: center;
}