<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <title>Admin</title>
      </head>
<body style="text-align:center;">
<div class="text-center"><h1>Welcome!  <button type="button" class="btn btn-link">LOG OUT</button></h1></div>
<div class="text-center">
	<h2></h2><br/>
<table class="table table-hover " align="center" style="width:60%">
	<thead>
		<tr> 
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><button class="btn btn-default" onclick="location.href='http://localhost:8080/admin/usermgmt'"type="submit">User Management</button></td>
		</tr>
		<tr>
			<td><button class="btn btn-default" onclick="location.href='http://localhost:8080/admin/productmgmt'" type="submit">Product Validation</button></td>
		</tr>
		<tr>
			<td><button class="btn btn-default" onclick="location.href='http://localhost:8080/admin/paymentmgmt'"type="submit">Payment Approval</button></td>
		</tr>
		<tr>
			<td><td>
		</tr>
	</tbody>
</table>
	
	
	 
	<br/>
	<label> VIEW REPORT</label>
	<div class="center-block" style="width:200px;">
	<select class="form-control" >
  <option>List of Products</option>
  <option>List of Vendors</option>
  <option>Overall: Vendors x Products</option>
  <option>Total Good and Service Tax (GST)</option>
  <option>Registration</option>
  <option>Vendor x Product</option>
  <option>Vendor x Total of products</option>
</select>
</div>
	</br></br>
<button class="btn btn-default btn-xs" type="submit">VIEW</button> <br/>

  </div>
</body>
</html>