<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<base target="_blank" />
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <title>Admin</title>
      
      </head>
<body style="text-align:center;">
<header th:insert="header :: navbar"> </header>
<div class="text-center">
	<h2></h2><br/>
<table class="table table-hover " align="center" style="width:60%">
	<thead>
		<tr> 
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><button class="btn btn-default" onclick="location.href='http://localhost:8080/admin/usermgmt'"type="submit">User Management</button></td>
		</tr>
		<tr>
			<td><button class="btn btn-default" onclick="location.href='http://localhost:8080/admin/productmgmt'" type="submit">Product Validation</button></td>
		</tr>
		<tr>
			<td><td>
		</tr>
	</tbody>
</table>
	<br/>
	<label> VIEW REPORT</label>
	<div class="center-block" style="width:200px;">
<select class="report" onChange="window.open(this.options[this.selectedIndex].getAttribute('data-href'), '_blank')">
     <option value="0" selected="selected">--Choose a Report--</option>
     <option value="1" data-href='https://app.powerbi.com/groups/me/reports/7ea1f23c-19e6-46df-b64d-a2b23ba66297/ReportSection'>Registration</option>
     <option value="2" data-href='https://app.powerbi.com/groups/me/reports/7ea1f23c-19e6-46df-b64d-a2b23ba66297/ReportSection106bc994a118d7594c76' >By Products</option>
     <option value="3" data-href='https://app.powerbi.com/groups/me/reports/7ea1f23c-19e6-46df-b64d-a2b23ba66297/ReportSection2c32d68ad8b61dde347c' >By Vendors</option>
</select>

</div>
	<!--</br></br>
<button class="btn btn-default btn-xs" type="submit">VIEW</button> <br/>-->

  </div>
</body>
</html>