<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Anne Guimaraes - 986742">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Account</title>

 <script>  
            function check2pwd() {  
                    if(input1.value != input2.value) {  
                        alert("Your Passwords Do Not Match ")  
                        input1.value = "";  
                        input2.value = "";  
                    }  
            }  
            
            function checkPhone(){ 
    var phone = document.getElementById('phoneNumber').value;
    if(!(/^[\\(]{0,1}([0-9]){3}[\\)]{0,1}[ ]?([^0-1]){1}([0-9]){2}[ ]?[-]?[ ]?([0-9]){4}[ ]*((x){0,1}([0-9]){1,5}){0,1}$/.test(phone))){ 
        alert("Phone number is wrong, please check it again.");  
        return false; 
    } 
    
}
            
        </script> 

</head>
<body style="text-align:center;">
<header th:insert="header :: navbar"> </header>
<h3 style="font-weight:bold">Edit Profile</h3>
<br><br>
<form th:action="@{/account/edit}" th:object = "${user}" method="POST" >
	<div class="row" >
    <div class="col-md-6 col-md-offset-4">

 		<div class="col-md-3 " >
         <label for="fullName">Full Name:</label>
        </div>
        <div class="col-md-3" >
         <label th:text="${user.fullName}">
        </div>
	</div>
	</div>
	<div class="row">
	<div class="col-md-6 col-md-offset-4">
 		<div class="col-md-3" >
         <label for="Email">Email:</label>
        </div>
        <div class="col-md-3" >
         <label th:text="${user.email}">
        </div>
	</div>
	</div>
	<div class="row">
	<div class="col-md-6 col-md-offset-4">
 		<div class="col-md-3" >
         <label for="phoneNumber">Phone number:</label>
        </div>
        <div class="col-md-3" >
         <input type="text" name="phone" id="phoneNumber" onblur="checkPhone()" th:value="${user.phone}" style="margin-bottom: 3px">
        </div><span style="color:red">Formatter: (910)456-7890. </span>
	</div>
	</div>
	<div class="row">
	<div class="col-md-6 col-md-offset-4">
 		<div class="col-md-3" >
        <label for="psw">Password:</label>
        </div>
        <div class="col-md-3" >
        <input type="password" id="input1" th:value="${user.password}"style="margin-bottom: 3px">
        </div>
	</div>  
	</div>          
	<div class="row">
	<div class="col-md-6 col-md-offset-4">
 		<div class="col-md-3" >
        <label for="passwordc">Confirm Password:</label>
        </div>
        <div class="col-md-3" >
        <input type="password" id="input2" name="password" onblur="check2pwd()" th:value="${user.password}">
        </div>
	</div> 
	</div> 
	
	<table align="center">
    <tr>
    <th>ADDRESS: </th>
      <th>Zipcode</th>
    </tr>
    <tr th:each="address : ${user.listAddress}">
    <td> <input disabled type="text" name="address.id"th:value="${address.id}" style="margin-right:4px"></td>
      <td> <input type="text" name="zipcode"th:value="${address.zipcode}" ></td>
     </tr>
</table>
	
	   
 <table align="center">
    <tr>
      <th>Line One</th>      
      <th>Line Two</th>
    </tr>
    <tr th:each="address : ${user.listAddress}">
     <td> <input type="text" name="lineOne"th:value="${address.lineOne}" style="margin-right:4px"></td>
       <td> <input type="text" name="lineTwo"th:value="${address.lineTwo}" ></td>
     </tr>
</table>
<table align="center">
    <tr>
      <th>City</th><th>State</th>
    </tr>
    <tr th:each="address : ${user.listAddress}">
     <td> <input type="text" name="city"th:value="${address.city}" style="margin-right:4px"></td>
     <td> <input type="text" name="state"th:value="${address.state}" ></td>
     </tr>
</table>
	<br><br> 

    <button class="btn btn-default btn-xs" type="submit">SUBMIT</button>
</form>
</br></br></br></br>
 <footer footer th:insert="footer :: navbar"> </footer>
</body>
</html>