<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Home</title>
</head>
<body>
 <!-- <div class="col-md-6 col-md-offset-3" id="home"> --> 
<div class="container">
 		<h1>
		<span class="text-success" th:utext="${user}"></span>
		</h1>
		<p>
		<span class="text-success" th:utext="${messageRole}"></span>
		</p>
	<table class="table">
    <thead>
      <tr>
      <th>End User</th>
      <th>Vendor</th>
      <th>Customer</th>
      <th>Admin</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><form th:action = "@{/endUser/**}" method = "get">
			<button type="submit" class="btn btn-link btn-sm">End User</button>
		</form></td>
        <td><form th:action = "@{/vendor/**}" method = "get">
		<button class = "btn btn-link btn-sm" type = "Submit">Vendor</button>
	</form></td>
        <td><form th:action = "@{/custome/**}" method = "get">
		<button class = "btn btn-link btn-sm" type = "Submit">Customer</button>
	</form></td>
	<td><form th:action = "@{/admin/**}" method = "get">
			<button type="submit" class="btn btn-link btn-sm">Admin</button>
		</form></td>
	
      </tr>
      <tr>
        <td><form th:action = "@{/register}" method = "get">
			<button type="submit" class="btn btn-link btn-sm">Register New User</button>
		</form></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
                <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
		
		
		
		
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-primary btn-lg" type="Submit">Log out</button>
	</form> 
</div>
</body>
</html>