<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Home</title>
</head>
<body>
<!-- <div class="col-md-6 col-md-offset-3" id="home"> -->
<div class="container">
<!-- 		<h1>
		<span class="text-success" th:utext="${user}"></span>
		</h1>
		<p>
		<span class="text-success" th:utext="${messageRole}"></span>
		</p>
	<table class="table">
    <thead>
      <tr>
        <th>Admin</th>
        <th>Faculty</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><form th:action = "@{/importFile}" method = "get">
			<button type="submit" class="btn btn-link btn-sm">Import File</button>
		</form></td>
        <td><form th:action = "@{/faculty/report}" method = "get">
		<button class = "btn btn-link btn-sm" type = "Submit">Faculty Report</button>
	</form></td>
        <td><form th:action = "@{/student/report}" method = "get">
		<button class = "btn btn-link btn-sm" type = "Submit">Student Report</button>
	</form></td>
      </tr>
      <tr>
        <td><form th:action = "@{/admin/registration}" method = "get">
			<button type="submit" class="btn btn-link btn-sm">Registration New User</button>
		</form></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><form th:action = "@{/admin/report}" method = "get">
			<button type="submit" class="btn btn-link btn-sm">Admin Report</button>
		</form></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
		
		
		
		
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-lg" type="Submit">Log out</button>
	</form> -->
	
	Hello !!!
</div>
</body>
</html>