<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Order History</title>
</head>
<body>
	<h1 class="text-center">Order History</h1>

	<table class="table table-hover " align="center" style="width: 80%">
		<thead>
			<tr>
				<th>Id</th>
				<th>Order Code</th>
				<th>Total</th>				
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${ordersList}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.orderCode}"></td>
				<td th:text="${item.total}"></td>
				<td th:text="${item.status}"></td>
				<td>					
					<a href="#" class="btn btn-default btn-xs" th:href="${'/orderDetail/' + item.id}">Go to details</a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- <div style="margin:0 auto;width:200px;">
		<button class="btn btn-default btn-sm"  onclick="location.href='http://localhost:8080/admin'" type="submit">GO BACK</button>
	</div> -->

</body>
</html>