<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Order Detail</title>
</head>
<body>
<h1 class="text-center">Order Detail</h1>
	<table class="table table-hover " align="center" style="width:80%">
	<thead>
		<tr> 
			<th> </th>
			<th>Product Name</th>
			<th>Vendor</th>
			<th>Description</th>
			<th>Validation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="radio" name="function" id="function1" value="option1"></td>
			<td>LeBron 17</td>
			<td>Nike</td>
			<td>Basketball Shoe</td>
			<td>Y</td>
		</tr>
		<tr>
			<td><input type="radio" name="function" id="function1" value="option2"></td>
			<td>Air Force 1 '07 "MTAA"</td>
			<td>Nike</td>
			<td>Men's Shoe</td>
			<td>N</td>
		</tr>
		<tr>
			<td><input type="radio" name="function" id="function1" value="option3"></td>
			<td>Puma</td>
			<td>PUMA RS-X Unexpected Mixes</td>
			<td>Women's Shoe</td>
			<td>Y</td>
			
		</tr>
		<tr>
			<td></td><td></td><td></td><td></td>
			<td><button class="btn btn-default btn-xs" type="submit">VALIDE</button></td>
		</tr>
	</tbody>
</table>

<div style="margin:0 auto;width:200px;">
<button class="btn btn-default btn-sm"  onclick="location.href='http://localhost:8080/admin'" type="submit">GO BACK</button></div>

</body>
</html>