<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Order Detail</title>
</head>
<body>
	<h1 class="text-center">Order Detail</h1>	
 	<table class="table table-hover " align="center" style="width: 80%">
		<tbody>
			<tr>
				<td>Order Id</td>
				<td th:text="${order.id}"></td>
			</tr>
			<tr>
				<td>Order Code</td>
				<td th:text="${order.orderCode}"></td>
			</tr>
			<tr>
				<td>Status</td>
				<td th:text="${order.status}"></td>
			</tr>
			<tr>
				<td></td>
				<td><a>Request to refund</a></td>
			</tr>
			<tr>
				<td>Products:</td>
				<td>
					<table class="table table-hover" align="center" style="width: 80%">
						<thead>
							<tr>
								<th>Product Name</th>
								<th>Vendor</th>
								<th>Description</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Sub-Total</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product:${order.productsList}">
								<td th:text="${product.productName}"></td>
								<td th:text="${product.vendorName}"></td>
								<td th:text="${product.desc}"></td>
								<td th:text="${product.quantity}"></td>
								<td th:text="${product.price}"></td>
								<td th:text="${product.total}"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>			
			<tr>
				<td>Sub-Total</td>
				<td th:text="${order.subtotal}"></td>
			</tr>			
			<tr>
				<td>Service Fee</td>
				<td th:text="${order.serviceFee}"></td>
			</tr>			
			<tr>
				<td>Tax</td>
				<td th:text="${order.tax}"></td>
			</tr>			
			<tr>
				<td>Total</td>
				<td th:text="${order.total}"></td>
			</tr>
			<tr>
				<td>Billing Address:</td>
				<td>
					<table class="table table-hover" align="center" style="width: 80%">
						<tbody>
							<tr>
								<td>Address Line 1</td>
								<td th:text="${order.billing.line1}"></td>
							</tr>
							<tr>
								<td>Address Line 2</td>
								<td th:text="${order.billing.line2}"></td>
							</tr>
							<tr>
								<td>City</td>
								<td th:text="${order.billing.city}"></td>
							</tr>
							<tr>
								<td>State</td>
								<td th:text="${order.billing.state}"></td>
							</tr>
							<tr>
								<td>Zipcode</td>
								<td th:text="${order.billing.zipcode}"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>Shipping Address:</td>
				<td>
					<table class="table table-hover" align="center" style="width: 80%">
						<tbody>
							<tr>
								<td>Address Line 1</td>
								<td th:text="${order.shipping.line1}"></td>
							</tr>
							<tr>
								<td>Address Line 2</td>
								<td th:text="${order.shipping.line2}"></td>
							</tr>
							<tr>
								<td>City</td>
								<td th:text="${order.shipping.city}"></td>
							</tr>
							<tr>
								<td>State</td>
								<td th:text="${order.shipping.state}"></td>
							</tr>
							<tr>
								<td>Zipcode</td>
								<td th:text="${order.shipping.zipcode}"></td>
							</tr>
						</tbody>
					</table>
				</td>			
			</tr>
		</tbody>
	</table>
</body>
</html>