<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Order Detail</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>
<body style="text-align: center;">
	<header th:insert="header :: navbar"> </header>
	<h1 class="text-center">Order Detail</h1>	
 	<table class="table table-hover " align="center" style="width: 80%">
		<tbody>
			<tr>
				<td>Order Id</td>
				<td th:text="${orderId}"></td>
			</tr>
			<tr>
				<td>Order Code</td>
				<td th:text="${orderCode}"></td>
			</tr>
			<tr>
				<td>Status</td>
				<td>
					<h3 th:text="${status}"></h3>
					<!-- <a href="#" class="btn btn-primary btn-xs" th:href="${'/orders/requestToRefund/' + orderId}">Request to refund</a> -->
				</td>
			</tr>
			<tr>
				<td>Products:</td>
				<td>
					<table class="table table-hover" align="center" style="width: 80%">
						<thead>
							<tr>
								<th>Product Name</th>
								<!-- <th>Vendor</th> -->
								<th>Description</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Sub-Total</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item:${orderLines}">
								<td th:text="${item.product.name}"></td>
								<!-- <td th:text="${item.product.vendor}"></td> -->
								<td th:text="${item.product.description}"></td>
								<td th:text="${item.quantity}"></td>
								<td th:text="${item.price}"></td>
								<td th:text="${#numbers.formatDecimal(item.total, 2, 3)}"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>			
			<tr>
				<td>Sub-Total</td>
				<td th:text="${subtotal}"></td>
			</tr>			
			<tr>
				<td>Service Fee</td>
				<td th:text="${serviceFee}"></td>
			</tr>			
			<tr>
				<td>Tax</td>
				<td th:text="${tax}"></td>
			</tr>			
			<tr>
				<td>Total</td>
				<td th:text="${total}"></td>
			</tr>
			<tr>
				<td>Billing Address:</td>
				<td>
					<table class="table table-hover" align="center" style="width: 80%">
						<tbody>
							<tr>
								<td>Address Line 1</td>
								<td th:text="${billing.lineOne}"></td>
							</tr>
							<tr>
								<td>Address Line 2</td>
								<td th:text="${billing.lineTwo}"></td>
							</tr>
							<tr>
								<td>City</td>
								<td th:text="${billing.city}"></td>
							</tr>
							<tr>
								<td>State</td>
								<td th:text="${billing.state}"></td>
							</tr>
							<tr>
								<td>Zipcode</td>
								<td th:text="${billing.zipcode}"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>Shipping Address:</td>
				<td>
					<table class="table table-hover" align="center" style="width: 80%">
						<tbody>
							<tr>
								<td>Address Line 1</td>
								<td th:text="${shipping.lineOne}"></td>
							</tr>
							<tr>
								<td>Address Line 2</td>
								<td th:text="${shipping.lineTwo}"></td>
							</tr>
							<tr>
								<td>City</td>
								<td th:text="${shipping.city}"></td>
							</tr>
							<tr>
								<td>State</td>
								<td th:text="${shipping.state}"></td>
							</tr>
							<tr>
								<td>Zipcode</td>
								<td th:text="${shipping.zipcode}"></td>
							</tr>
						</tbody>
					</table>
				</td>			
			</tr>
		</tbody>
	</table>
		</br>
		</br>
		</br>
		</br>
	<footer th:insert="footer :: navbar"> </footer>
</body>
</html>