<!-- //Created and Edited by Mohammed Heakal -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<base target="_blank" />
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Product List</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>
<body style="text-align: center;">
	<header th:insert="header :: navbar"> </header>
	<h1 class="text-center">Product List</h1>
	<a href="/search/searchProducts" align="center"><h3>Search For Product</h3></a>
	<table class="table table-hover " align="center" style="width: 80%">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Vendor</th>
				<th>Description</th>
				<th>Stock</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<tr th:each="product:${productList}">
				<td th:text="${product.name}"></td>
				<td th:text="${product.vendor.fullName}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.quantity}"></td>
				<td><a href="#" class="btn btn-default btn-xs" th:href="${'/shoppingcart/addproduct/' + product.id}">Add to cart</a></td>
			</tr>
			<tr>
		</tbody>
	</table>

		</br>
		</br>
		</br>
		</br>
	<footer th:insert="footer :: navbar"> </footer>
</body>
</html>