·<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Login</title>
</head>
<body>
 <div class="row" >
    <div class="col-md-6 col-md-offset-3" id="register">
    
    <form th:action="@{/register}" th:object = "${user}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        
        <div>
    		
    		<select id="role" name="role" class="form-control">
        
            <option value="">Choose a role,please</option>
        	<option th:each="role:${roleList}" th:value="${role.id}"
				                                th:text="${role.role}"></option>	
  			
			</select>
    	</div>
        <br/>
        
        <input type="text" id="fullName" name="fullName" th:placeholder="Fullname"
               class="form-control"/> <br/>		
        <input type="text" id="userName" name="userName" th:placeholder="Usename"
               class="form-control"/> <br/>
        <input type="email" id="email" name="email" th:placeholder="Email"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>
        <input type="text" id="address" name="address" th:placeholder="Address"
               class="form-control"/> <br/>
        <input type="text" id="phone" name="phone" th:placeholder="Phone"
               class="form-control"/> <br/>
        <!-- <input type="text" id="active_Ind" name="active_Ind" th:placeholder='P'
               class="form-control" disabled="disabled"/> <br/> -->
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Register" type="Submit"
                th:text="Register"></button>
        
    </form>
           
    </div>
    
</div>
</body>
</html>