<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <title>User Management</title>
      </head>
<body style="text-align:center;">
<h1 class="text-center">User Management</h1>
	<table class="table table-hover "   style="display:inline;margin:100px">
	<thead>
		<tr> 
			
			<th>Vendor Name</th>
			<th>Status</th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user:${userList}" th:if=${user.role.id==2}>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.active_Ind}"></td>
                <td><form th:action="@{/admin/usermgmt/}" method = "POST">
                	<input type="hidden" name="userId" th:value="${user.id}" />
                	<input class="btn btn-default btn-xs" type="submit" value = "DELETE"/>
                	</form>
                </td>
			    <td><form th:action="@{/admin/usermgmt/block}" method = "GET">
                	<input type="hidden" name="userId" th:value="${user.id}" />
                	<input class="btn btn-default btn-xs" type="submit" value = "BLOCK"/>
                	</form>
                </td>
				<td><form th:action="@{/admin/usermgmt/approve}" method = "GET">
                	<input type="hidden" name="userId" th:value="${user.id}" />
                	<input class="btn btn-default btn-xs" type="submit" value = "APPROVE"/>
                	</form>
                </td>
          </tr>
	</tbody>
</table>

<table class="table table-hover "   style="display:inline;margin:100px">
	<thead>
		<tr> 
			
			<th>Client Name</th>
			<th>Status</th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		
		<tr th:each="user:${userList}" th:if=${user.role.id==3}>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.active_Ind}"></td>
                <td><form th:action="@{/admin/usermgmt/}" method = "POST">
                	<input type="hidden" name="userId" th:value="${user.id}" />
                	<input class="btn btn-default btn-xs" type="submit" value = "DELETE"/>
                	</form>
				</td>
				<td><form th:action="@{/admin/usermgmt/block}" method = "GET">
                	<input type="hidden" name="userId" th:value="${user.id}" />
                	<input class="btn btn-default btn-xs" type="submit" value = "BLOCK"/>
                	</form>
                </td>
				<td><form th:action="@{/admin/usermgmt/approve}" method = "GET">
                	<input type="hidden" name="userId" th:value="${user.id}" />
                	<input class="btn btn-default btn-xs" type="submit" value = "APPROVE"/>
                	</form>
                </td>
         </tr>
	</tbody>
</table>
<br/><br/>
<div style="margin:0 auto;width:200px;">
<button class="btn btn-default btn-sm"  onclick="location.href='http://localhost:8080/admin'" type="submit">GO BACK</button></div>

</body>
</html>