<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <title>User Management</title>
      </head>
<body style="text-align:center;">
<h1 class="text-center">User Management</h1>
	<table class="table table-hover "   style="display:inline;margin:100px">
	<thead>
		<tr> 
			<th> </th>
			<th>Vendor Name</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<!--<tr>
			<td><input type="radio" name="function" id="function1" value="option1"></td>
			<td>Nike</td>
			<td>N</td>
			<td>Y</td>
		</tr>
		<tr>
			<td><input type="radio" name="function" id="function1" value="option2"></td>
			<td>Addidas</td>
			<td>Y</td>
			<td>Y</td>
		</tr>
		<tr>
			<td><input type="radio" name="function" id="function1" value="option3"></td>
			<td>Puma</td>
			<td>N</td>
			<td>N</td>
		</tr>-->	
		<tr th:each="user:${userList}">
		<td><input type="radio" name="function" id="function1" value="option3"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.active_Ind}"></td>
		<tr>
			<td><button class="btn btn-default btn-xs" type="submit">DELETE</button></td>
			<td><button class="btn btn-default btn-xs" type="submit">BLOCK</button></td>
			<td><button class="btn btn-default btn-xs" type="submit">APPROVE</button></td>
		</tr>
	</tbody>
</table>
<table class="table table-hover "   style="display:inline;margin:100px">
	<thead>
		<tr> 
			<th> </th>
			<th>Client Name</th>
			<th>Validation</th>
			<th>Approval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="radio" name="function2" id="function2" value="option1"></td>
			<td>Amy</td>
			<td>N</td>
			<td>Y</td>
		</tr>
		<tr>
			<td><input type="radio" name="function2" id="function2" value="option2"></td>
			<td>Sam</td>
			<td>Y</td>
			<td>Y</td>
		</tr>
		<tr>
			<td><input type="radio" name="function2" id="function2" value="option3"></td>
			<td>Lily</td>
			<td>N</td>
			<td>N</td>
		</tr>
		<tr>
						<td></td>
			<td><button class="btn btn-default btn-xs" type="submit">DELETE</button></td>
			<td><button class="btn btn-default btn-xs" type="submit">BLOCK</button></td>
			<td><button class="btn btn-default btn-xs" type="submit">APPROVE</button></td>
		</tr>
	</tbody>
</table>
<br/><br/>
<div style="margin:0 auto;width:200px;">
<button class="btn btn-default btn-sm"  onclick="location.href='http://localhost:8080/admin'" type="submit">GO BACK</button></div>

</body>
</html>